@charset "UTF-8";

input{
    margin: 5px;
    padding: 2px;
}
label{
    padding: 2px;
}
select{
    margin: 13px;
}
section{
    text-align: center;
}
form{
    border: 1px solid black;
    padding: 10px;
    width: 560px;
    margin: auto;
}